{% load static %}
<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="{% static 'images/about-img.png' %}" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>We Are DRAGONBURG</h2>
          </div>
          <p>
            Welcome to your local DRAGONBURG at 728 Main Street West in
            Vancouver. Your perfect meal is just a click away! Whether it’s
            using fresh ground beef (there are no freezers in our restaurants),
            double-cooking our fries in 100 percent peanut oil, hand-preparing
            fresh ingredients every morning or serving peanuts while you wait,
            we strive to provide the best experience each and every time you
            visit. At DRAGONBURG, we serve food you love, made the way you love,
            by people we love.
          </p>
          {% comment %} <a href="{%  url 'pdf_view'   %}"> Read More </a> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</section>
