{%  load static   %}
<section class="slider_section ">
<div class="login-page">
  <span style="color:yellow">{% include 'partials/_alerts.html' %}</span>
    <div class="form">
      <p><img src="{% static 'images/favicon.png' %}"  width="70" height="70" align="left"><h4>Welcome Login</h4></p>
      <br>
      <form action="{% url 'login' %}" class="login-form" method="POST">
        {% csrf_token %} 
        <input 
        type="text" 
        name="username"
        placeholder="username"
        required/>

        <input 
        type="password"
        name="password"
        placeholder="password"
        required/>

        <button type="submit" value="Login">Login</button>
        <br>
        <p class=".message">Not registered?&nbsp;<a href="{% url 'register' %}">Create an account</a></p>
      </form>
      <!--<form class="login-form">
        <input type="text" placeholder="username"/>
        <input type="password" placeholder="password"/>
        <button>login</button>
        <p class=".message">Not registered?<a href="#">Create an account</a></p>
      </form>-->
    </div>
  </div>
</section>