{% extends 'base.html' %} <!--base.html include header section-->
{% load static %}
{%  block content  %}

    <!-- slider section -->
    {% include 'partials/_slider.html' %}
 
  </div> <!--pair with <div class="hero_area"> in base.html-->

  <!-- offer section -->
  {% include 'partials/_offerfortest.html' %}

  <!-- end offer section -->

  <!-- food section -->
  {% include 'partials/_food.html' %}

  <!-- about section -->
  {% include 'partials/_about.html' %}
    <br><br>
  <!-- book section -->
 
  <!-- client section -->
  {% include 'partials/_clientfortest.html' %}

  {% endblock %}
